.features {
  display: flex;
  align-items: center;
  padding: 5rem 0;
  width: 100%;
}

.featureIcon {
  font-size: 3rem;
  color: var(--ifm-color-primary);
  margin-bottom: 1.5rem;
}

.sectionTitle {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 2.25rem;
  color: var(--ifm-color-primary);
}
